{% extends "base.html" %}

{% block content %}

    {{ poll.poll }}
    <form method="POST" action="">
        {% csrf_token %}

        <div class="ui form">
            <div class="field">
                <label>{{ form.question.label }}</label>
                {{ form.question }}
            </div>

            <div class="field">
                <label>{{ form.option.label }}</label>
                {{ form.option }}
            </div>

            <div class="field">
                <div class="ui checkbox">
                    <label>{{ form.correct.label }}</label>
                    {{ form.correct }}
                </div>
            </div>

            <input type="submit" value="Saglabāt" class="ui green button" />
        </div>
    </form>

{% endblock content %}
