{% extends "base.html" %}

{% block content %}
    <form method="POST" action="">
        {% csrf_token %}
        <div class="ui form">
            <div class="field">
                <label>{{ form.poll_id.label }}</label>
                {{ form.poll_id }}
            </div>

            <div class="field">
                <label>{{ form.question.label }}</label>
                {{ form.question }}
            </div>
            <input type="submit" value="Saglabāt" class="ui green button"/>
        </div>
    </form>
{% endblock content %}
