{% extends "base.html" %}

{% block content %}


    {% for error in form.errors %}
        {{ error }}
    {% endfor %}

    {% if form.question.errors %}
        <div class="ui error message">
            {{ form.question.label }}
            <ul class="list">
                <li>{{ form.question.errors|striptags }}</li>
            </ul>
        </div>
    {% endif %}

    {% if form.option.errors %}
        <div class="ui error message">
            {{ form.option.label }}
            <ul class="list">
                <li>{{ form.option.errors|striptags }}</li>
            </ul>
        </div>
    {% endif %}

    {% if form.correct.errors %}
        <div class="ui error message">
            {{ form.correct.label }}
            <ul class="list">
                <li>{{ form.correct.errors|striptags }}</li>
            </ul>
        </div>
    {% endif %}

    <form method="POST" action="{% url 'add_choise' args.poll_id args.question_id %}">
        {% csrf_token %}

        <div class="ui form segment">

            <div class="field">
                <label for="{{ form.question.id_for_label }}">
                    {{ form.question.label }}
                </label>

                {{ form.question }}
            </div>

            <div class="field">
                <label for="{{ form.option.id_for_label }}">
                    {{ form.option.label }}
                </label>

                {{ form.option }}
            </div>

            <div class="field">
                <label for="{{ form.correct.id_for_label }}">
                    {{ form.correct.label }}
                </label>

                {{ form.correct }}
            </div>

        </div>

        <input type="submit" value="Saglabāt" class="positive ui button" />
    </form>

{% endblock content %}

