{% extends "base.html" %}

{% block content %}

    {% if form.question.errors %}
        <div class="ui error message">
            {{ form.question.label }}
            <ul class="list">
                <li>{{ form.question.errors|striptags }}</li>
            </ul>
        </div>
    {% endif %}

    {% if form.option.errors %}
        <div class="ui error message">
            {{ form.option.label }}
            <ul class="list">
                <li>{{ form.option.errors|striptags }}</li>
            </ul>
        </div>
    {% endif %}

    {% if form.correct.errors %}
        <div class="ui error message">
            {{ form.correct.label }}
            <ul class="list">
                <li>{{ form.correct.errors|striptags }}</li>
            </ul>
        </div>
    {% endif %}

    <form method="POST" action="">
        {% csrf_token %}

        <div class="form-section">
            <label for="{{ form.question.id_for_label }}">
                {{ form.question.label }}
            </label>

            {{ form.question }}
        </div>

        <div class="form-section">
            <label for="{{ form.option.id_for_label }}">
                {{ form.option.label }}
            </label>

            {{ form.option }}
        </div>

        <div class="form-section">
            <label for="{{ form.correct.id_for_label }}">
                {{ form.correct.label }}
            </label>

            {{ form.correct }}
        </div>

        <input type="submit" value="Saglabāt" class="submit button" />
    </form>

{% endblock content %}

