{% extends "base.html" %}

{% block content %}

    <h2>{{ poll.poll }}</h2>

    <div>
        <a href="{% url 'take_poll' poll.id %}">Atpakaļ</a>
    </div>

    <form method="POST" action="{% url 'add_question' %}">
        {% csrf_token %}

        <input type="hidden" name="poll" value="{{ poll.id }}" />

        <!-- <div class="form-section">
            <label for="id_poll">
                {{ form.poll.label }}
            </label>

            {{ form.poll }}
        </div> -->

        <div class="form-section">
            <label for="id_question">
                {{ form.question.label }}
            </label>

            {{ form.question }}
        </div>

        <input type="submit" value="Saglabāt" class="ui green button" />
    </form>

    <ul>
    {% for question in questions %}

        <li>
            {{ question.id }} -> {{ question.question }}
            <a href="{% url 'add_choise' poll.id question.id %}" alt="Pievienot" title="Pievienot">
                <i class="add icon"></i>
            </a>

            <ul>
                {% for choise in question.choises %}
                    <li>
                        {{ choise.option }}
                        <a href="{% url 'edit_choise' poll.id question.id %}" alt="Labot" title="Labot">
                            <i class="edit icon"></i>
                        </a>

                        {% include "poll/delete_choise.html" %}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>

    {% if form.question.errors %}
        <div class="ui error message">
            {{ form.question.label }}
            <ul class="list">
                <li>{{ form.question.errors|striptags }}</li>
            </ul>
        </div>
    {% endif %}

{% endblock content %}
