{% extends "base.html" %}

{% block content %}

    <h3>Aptaujas labošana</h3>

    {% if data %}
        {{ data.poll.poll}}
    {% endif %}

    {% for rec in data %}
        <div>{{ rec.question }}
            <a href="{% url 'edit_poll' rec.id %}">
                <i class="edit icon"></i>
            </a>
            <ul>
                {% for answer_id, answer_list in answers %}
                    {% ifequal answer_id rec.id %}
                        {% for id, option in answer_list %}
                            <li>
                                <input type="radio" name="answer_grp_{{ answer_id }}" value="{{ id }}" />
                                <label>{{ option }}</label>
                            </li>
                        {% endfor %}
                    {% endifequal %}
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

{% endblock content %}

