{% extends "base.html" %}

{% block content %}

    <div class="ui breadcrumb">
        <a class="section" href="{% url 'take_poll' poll.id %}">Atpakaļ</a>
    </div>

    <h3 class="ui header">{{ poll.poll }}</h3>

    {% if form.question.errors %}
        <div class="ui error message">
            {{ form.question.label }}
            <ul class="list">
                <li>{{ form.question.errors|striptags }}</li>
            </ul>
        </div>
    {% endif %}

    <form method="POST" action="{% url 'add_question' %}">
        {% csrf_token %}

        <div class="ui form segment">
            <input type="hidden" name="poll" value="{{ poll.id }}" />

            <div class="field">
                <label for="{{ form.question.id_for_label }}">
                    {{ form.question.label }}
                </label>

                <div class="ui left labeled icon input">
                    {{ form.question }}
                    <i class="question icon"></i>
                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
            </div>

            <input type="submit" value="Saglabāt" class="positive ui button" />
        </div>
    </form>

    {% if questions %}
        {% include "poll/display_poll_content.html" %}
    {% endif %}

{% endblock content %}

