{% extends "base.html" %}

{% block content %}

    <h2>{{ poll.poll }}</h2>

    <div>
        <a href="{% url 'take_poll' poll.id %}">Atpakaļ</a>
    </div>

    {% if form.question.errors %}
        <div class="ui error message">
            {{ form.question.label }}
            <ul class="list">
                <li>{{ form.question.errors|striptags }}</li>
            </ul>
        </div>
    {% endif %}

    <form method="POST" action="{% url 'add_question' %}">
        {% csrf_token %}

        <input type="hidden" name="poll" value="{{ poll.id }}" />

        <div class="form-section">
            <label for="{{ form.question.id_for_label }}">
                {{ form.question.label }}
            </label>

            {{ form.question }}
        </div>

        <input type="submit" value="Saglabāt" class="submit button" />
    </form>

    <ul>
    {% for question in questions %}

        <li>
            ({{ question.id }}) {{ question.question }}
            <ul class="action-menu">
                <li class="add-action">
                    <a href="{% url 'add_choise' poll.id question.id %}" alt="Pievienot" title="Pievienot">
                        <i class="add icon"></i>
                    </a>
                </li>
                <li class="edit-action">
                    <a href="{% url 'edit_question' question.id %}">
                        Labot
                    </a>
                </li>
                <li class="delete-action">
                    {% include "poll/delete_poll.html" %}
                </li>
            </ul>

            <ul>
                {% for choise in question.choises %}
                    <li>
                        <span class="title-option">
                            {{ choise.id }}:{{ choise.option }}
                        </span>

                        <ul class="action-menu">
                            <li class="edit-action">
                                <a href="{% url 'edit_choise' poll.id choise.id %}" alt="Labot" title="Labot">
                                    <i class="edit icon"></i>
                                </a>
                            </li>
                            <li class="delete-action">
                                {% include "poll/delete_choise.html" %}
                            </li>
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>

{% endblock content %}

