{% extends "base.html" %}

{% block content %}

{% if form.poll.errors %}
    <div class="ui error message">
        {{ form.poll.label }}
        <ul class="list">
            {% for error in form.poll.errors %}
                <li>{{ error|striptags }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if form.description.errors %}
    <div class="ui error message">
        {{ form.description.label }}
        <ul class="list">
            {% for error in form.description.errors %}
                <li>{{ error|striptags }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if form.public.errors %}
    <div class="ui error message">
        {{ form.public.label }}
        <ul class="list">
            {% for error in form.public.errors %}
                <li>{{ error|striptags }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}


<form method="POST" action="{{ url_post_to }}" class="ui form segment">

    {% csrf_token %}

    <input type="hidden" name="record" value="{{ record_id }}">

    <div class="field">
        <label>{{ form.poll.label }}</label>
        {{ form.poll }}
    </div>

    <div class="field">
        <label>{{ form.description.label }}</label>
        {{ form.description }}
    </div>

    <div class="field">
        <label>{{ form.public.label }}</label>
        {{ form.public }}
    </div>

    <input type="submit" value="Saglabāt" class="ui submit button">
</form>

{% endblock content %}

