{% extends "base.html" %}


{% block content %}

    {% include "poll/poll_actions.html" %}

    <div class="ui divided list">
    {% for rec in data %}
        <div class="item">
            <div class="content">
                <div class="header">

                    <a href="{% url 'take_poll' rec.id %}">
                        {{ rec.poll }}
                    </a>

                </div>

                <div class="publication-meta">
                    <span class="author">
                        <a href="#">Autors</a>
                    </span>

                    <span class="publication-date" title="">
                        {{ rec.created_at|date:"Y.m.d" }}
                    </span>
                </div>


                <div class="description">
                    {{ rec.description }}
                </div>

                {% if user.is_staff %}
                    {% include "poll/poll_controls.html" %}
                {% endif %}

            </div>
        </div>
    {% empty %}
        <div class="warning message">Neviens ieraksts netika atrasts</div>
    {% endfor %}
    </div>

    {% if data.paginator.num_pages > 1 %}
        <div class="ui pagination menu">
            {% if data.has_previous %}
                <a class="item" href="{% url 'base_poll' data.previous_page_number %}">
                    <i class="icon left arrow"></i>Iepriekšējais
                </a>
            {% endif %}

            <a class="item" href="{% url 'base_poll' data.number %}">{{ data.number }}</a>

            {% if data.has_next %}
                <a class="item" href="{% url 'base_poll' data.next_page_number %}">
                    <i class="icon right arrow"></i>Nākošais
                </a>
            {% endif %}
        </div>
    {% endif %}

{% endblock content %}

