{% extends "base.html" %}


{% block content %}
    {% for rec in data %}
        <div class="data">
            <a href="/poll/take/{{ rec.id }}/poll/">{{ rec.question }}</a>
            <a href="/poll/add/{{ rec.id }}/choise/" alt="Pievienot variantu" title="Pievienot">
            	<i class="add icon"></i>
            </a>
            <a href="/poll/edit/{{ rec.id }}/poll/">
            	<i class="edit icon"></i>
            </a>
            <a href="/poll/delete/{{ rec.id }}/poll/">
            	<i class="trash icon"></i>
            </a>
        </div>
    {% endfor %}

    <!--
    <a class="item"> no </a>
    <a class="item" href="/poll/{{ data.paginator.num_pages }}">{{ data.paginator.num_pages }}
    -->
    <div class="ui pagination menu">
        {% if data.has_previous %}
            <a class="item" href="/poll/{{ data.previous_page_number }}">
                <i class="icon left arrow"></i>Iepriekšējais
            </a>
        {% endif %} 
        <a class="item" href="/poll/{{ data.number }}">{{ data.number }}</a>
        {% if data.has_next %}
            <a class="item" href="/poll/{{ data.next_page_number }}">
                <i class="icon right arrow"></i>Nākošais
            </a>
        {% endif %}
    </div>
{% endblock content %}
