{% extends "base.html" %}


{% block content %}

    <h3>Jautājumi</h3>

    <div class="ui divided list">
    {% for rec in data %}
        <div class="item">
            <div class="content">
                <div class="header">
                    <a href="{% url 'take_question' rec.id %}">
                        {{ rec.poll }}
                    </a>
                    <ul class="action">
                        <li class="action-add">
                            <a href="{% url 'add_poll' %}" alt="Pievienot" title="Pievienot">
                                <i class="add icon"></i>
                            </a>
                        </li>
                        <li class="action-edit">
                            <a href="{% url 'edit_poll' rec.id %}">
                                <i class="edit icon"></i>
                            </a>
                        </li>
                        <li class="action-delete">
                            <form method="POST" action="{% url 'delete_poll' %}">
                                {% csrf_token %}
                                <input type="hidden" value="{{ rec.id }}" name="pollID" />
                                <input type="submit" value="Dzēst" />
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="description">
                    {{ rec.description }}
                </div>
                <div>{{ rec.created_at|date:"Y.m.d H:i:s" }}</div>
            </div>
        </div>
    {% empty %}
        <div class="ui warning message">Neviens ieraksts netika atrasts</div>
    {% endfor %}
    </div>

    <div class="ui pagination menu">
        {% if data.has_previous %}
            <a class="item" href="/poll/{{ data.previous_page_number }}">
                <i class="icon left arrow"></i>Iepriekšējais
            </a>
        {% endif %}
        <a class="item" href="/poll/{{ data.number }}">{{ data.number }}</a>
        {% if data.has_next %}
            <a class="item" href="/poll/{{ data.next_page_number }}">
                <i class="icon right arrow"></i>Nākošais
            </a>
        {% endif %}
    </div>
{% endblock content %}
