{% extends "base.html" %}

{% block content %}

    {% include "poll/error_check_poll.html" %}

    <form method="POST" action="">
        {% csrf_token %}

        <div class="form-section">
            <label for="id_poll">
                {{ form.poll.label }}
            </label>

            {{ form.poll }}
        </div>

        <div class="form-section">
            <label for="id_description">
                {{ form.description.label }}
            </label>

            {{ form.description }}
        </div>

        <div class="form-section">
            <label for="id_public">
                {{ form.public.label }}
            </label>

            {{ form.public }}
        </div>

        <input type="submit" value="Saglabāt" class="submit button" />

    </form>
{% endblock content %}

