{% extends "base.html" %}

{% block content %}

    {% include "poll/error_check_poll.html" %}

    <form method="POST" action="">
        {% csrf_token %}

        <div class="form-section">
            <label for="{{ form.poll.id_for_label }}">
                {{ form.poll.label }}
            </label>

            {{ form.poll }}
        </div>

        <div class="form-section">
            <label for="{{ form.description.id_for_label }}">
                {{ form.description.label }}
            </label>

            {{ form.description }}
        </div>

        {% if user.is_admin %}
            <div class="form-section">
                <label for="{{ form.public.id_for_label }}">
                    {{ form.public.label }}
                </label>

                {{ form.public }}
            </div>
        {% endif %}

        <input type="submit" value="Saglabāt" class="submit button" />

    </form>
{% endblock content %}

