{% extends "base.html" %}

{% block content %}

    {% if form.poll.errors %}
        <div class="error message">
            {{ form.poll.label }}
            <ul class="list">
                <li>{{ form.poll.errors|striptags }}</li>
            </ul>
        </div>
    {% endif %}

    {% if form.description.errors %}
        <div class="error message">
            {{ form.description.label }}
            <ul class="list">
                <li>{{ form.description.errors|striptags }}</li>
            </ul>
        </div>
    {% endif %}


    {% if form.public.errors %}
        <div class="error message">
            {{ form.public.label }}
            <ul class="list">
                <li>{{ form.public.errors|striptags }}</li>
            </ul>
        </div>
    {% endif %}

    <form method="POST" action="">
        {% csrf_token %}

        <div class="form-section">
            <label for="id_poll">
                {{ form.poll.label }}
            </label>

            {{ form.poll }}
        </div>

        <div class="form-section">
            <label for="id_description">
                {{ form.description.label }}
            </label>

            {{ form.description }}
        </div>

        <div class="form-section">
            <label for="id_public">
                {{ form.public.label }}
            </label>

            {{ form.public }}
        </div>

        <input type="submit" value="Saglabāt" class="submit button" />

    </form>
{% endblock content %}
