{% extends "base.html" %}

{% block content %}

    {% if form.poll.errors %}
        <div class="ui error message">
            {{ form.poll.label }}
            <ul class="list">
                <li>{{ form.poll.errors|striptags }}</li>
            </ul>
        </div>
    {% endif %}

    {% if form.question.errors %}
        <div class="ui error message">
            {{ form.question.label }}
            <ul class="list">
                <li>{{ form.question.errors|striptags }}</li>
            </ul>
        </div>
    {% endif %}

    <form method="POST" action="">
        {% csrf_token %}
        <div class="ui form">
            <div class="field">
                <label>{{ form.poll.label }}</label>
                {{ form.poll }}
            </div>

            <div class="field">
                <label>{{ form.question.label }}</label>
                {{ form.question }}
            </div>
            <input type="submit" value="Saglabāt" class="ui green button"/>
        </div>
    </form>
{% endblock content %}
