{% extends "base.html" %}

{% block content %}

    <h2>Aptauja - '{{ poll.name }}'</h2>

    {% if user.is_staff %}
        <div>
            <a href="{% url 'edit_poll_content' poll.id %}">
                Labot aptauju
            </a>
            <a href="{% url 'add_question_for_poll' poll.id %}">
                Pievienot jautājumu
            </a>
        </div>
    {% endif %}

    <form action="{% url 'save_poll_results' %}" method="POST">
        {% csrf_token %}

        {% for question in questions %}
            -> {{ question.question }}

            <a href="{% url 'add_choise' poll.id question.id %}">
                <i class="add icon"></i>
            </a>

            <ul>
                {% for choise in question.choises %}
                    <li>
                        <input id="question_{{ choise.id }}" type="radio" name="answer_grp_{{ question.id }}" value="{{ choise.id }}" />
                        <label for="question_{{ choise.id }}">{{ choise.option }}</label>
                        {% if choise.correct and user.is_staff %}
                            [OK]
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

        {% empty %}
            <div class="warning message">Neviens ieraksts netika atrasts</div>
        {% endfor %}

        {% if questions %}
            <input type="submit" value="Saglabāt" class="submit button" />
        {% endif %}
    </form>

{% endblock content %}

