{% extends "base.html" %}

{% block content %}

    {% if data %}
        {#{ data.first.poll_id }#}
        {{ data.poll.poll}}
    {% endif %}

    <form action="{% url 'save_poll_results' %}" method="POST">
        {% csrf_token %}
        {% for rec in data %}
            <div>{{ rec.question }}
                <a href="{% url 'add_choise' rec.id rec.poll.id %}" alt="Pievienot variantu" title="Pievienot">
                    <i class="add icon"></i>
                </a>
                <a href="{% url 'edit_poll' rec.id %}">
                    <i class="edit icon"></i>
                </a>
                <form method="POST" action="{% url 'delete_question' %}">
                    {% csrf_token %}
                    <input type="hidden" name="questionID" value="{{ rec.id }}" />
                    <input type="submit" value="Dzēst" />
                </form>
                <div>
                    <ul>
                    {% for answer_id, answer_list in answers %}
                        {% ifequal answer_id rec.id %}
                            {% for id, option in answer_list %}
                                <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="answer_grp_{{ answer_id }}" value="{{ id }}" />
                                    <label>{{ option }}</label>
                                </div>
                                <a href="{% url 'edit_choise' id %}">
                                    <i class="edit icon"></i>
                                </a>
                                <form method="POST" action="{% url 'delete_question' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="questionID" value="{{ id }}" />
                                    <input type="submit" value="Dzēst" />
                                </form>
                                </div>
                            {% endfor %}
                        {% endifequal %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        {% empty %}
            <div class="ui warning message">Neviens ieraksts netika atrasts</div>
        {% endfor %}

        {% if data %}
            <input type="submit" value="Saglabāt" class="ui button green" />
        {% endif %}
    </form>
{% endblock content %}
