{% extends "base.html" %}

{% block content %}

    <h3>Forma testu veikšanai</h3>

    <h2>{{ poll.name }}</h2>

    <div><a href="{% url 'edit_poll_content' poll.id %}">Pievienot jautājumu</a></div>

    <form action="{% url 'save_poll_results' %}" method="POST">
        {% csrf_token %}

        {% for question in questions %}
            {#{ question.id }#} -> {{ question.question }}
            <a href="{% url 'add_choise' poll.id question.id %}"><i class="add icon"></i></a>

            <ul>
                {% for choise in question.choises %}
                    <li>
                        <input type="radio" name="answer_grp_{{ question.id }}" value="{{ choise.id }}" />
                        <lable>{{ choise.option }}</lable>
                        {% if choise.correct %}
                            [OK]
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

        {% empty %}
            <div class="ui warning message">Neviens ieraksts netika atrasts</div>
        {% endfor %}

        {% if questions %}
            <input type="submit" value="Saglabāt" class="ui button green" />
        {% endif %}
    </form>

{% endblock content %}
