{% extends "base.html" %}

{% block content %}

    {% if data %}
        {{ data.first.poll_id }}
    {% endif %}

    {% for record in data %}
        <div>{{ record.question }}
            <a href="/poll/add/{{ record.id }}/{{ record.poll_id.id }}/choise/" alt="Pievienot variantu" title="Pievienot">
                <i class="add icon"></i>
            </a>
            <a href="/poll/edit/{{ record.id }}/question/">
            	<i class="edit icon"></i>
            </a>
            <a href="/poll/delete/{{ record.id }}/question/">
            	<i class="trash icon"></i>
            </a>
            <div>
                <ul>
                {% for answer in answers %}
                    <li></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% empty %}
        <div class="ui warning message">Neviens ieraksts netika atrasts</div>
    {% endfor %}
{% endblock content %}
