{% extends "base.html" %}
{#% load django_markdown %#}

{% block content %}

    {% if form.title.errors %}
        <div class="ui error message">
            {{ form.title.label }}
            <ul class="list">
                {% for error in form.title.errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if form.description.errors %}
        <div class="ui error message">
            {{ form.description.label }}
            <ul class="list">
                {% for error in form.description.errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if form.article.errors %}
        <div class="ui error message">
            {{ form.article.label }}
            <ul class="list">
                {% for error in form.article.errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form method="POST" action="{% url 'article_add' %}">
        {% csrf_token %}

        <div class="form-section">
            <lable for="id_title">
                {{ form.title.label }}
            </lable>
            {{ form.title }}
        </div>

        <div class="form-section">
            <lable for="id_attachment">
                {{ form.attachment.label }}
            </lable>
            {{ form.attachment }}
        </div>

        <div class="form-section">
            <label for="id_description">
                {{ form.description.label }}
            </label>
            {{ form.description }}
        </div>

        <div class="form-section">
            <lable for="id_article">
                {{ form.article.label }}
            </lable>
            {{ form.article }}
        </div>

        <input type="submit" value="Saglabāt" />
    </form>

{% endblock content %}
