{% extends "base.html" %}
{#% load django_markdown %#}

{% block content %}

    {% include "article/error_check.html" %}

    <form method="POST" action="{% url 'article_add' %}" class="ui form segment">
        {% csrf_token %}

        <div class="field">
            <label for="{{ form.title.id_for_label }}">
                {{ form.title.label }}
            </label>

            <div class="ui icon input">
                {{ form.title }}
                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>

        <div class="field">
            <label for="{{ form.category.id_for_label }}">
                {{ form.category.label }}
            </label>

            <div class="ui labeled input">
                {{ form.category }}
            </div>
        </div>

        <div class="field">
            <label for="{{ form.description.id_for_label }}">
                {{ form.description.label }}
            </label>
            {{ form.description }}
        </div>

        <div class="field">
            <p>
                <a href="http://daringfireball.net/projects/markdown/syntax">
                    Ieteicams izmantot Markdown formātu
                </a>
            </p>
            <label for="{{ form.article.id_for_label }}">
                {{ form.article.label }}
            </label>
            {{ form.article }}
        </div>

        <div class="field">
            <label for="{{ form.embeded.id_for_label }}">
                {{ form.embeded.label }}
            </label>
            <div class="ui icon input">
                {{ form.embeded }}
                <i class="external url icon"></i>
            </div>
        </div>

        <input class="positive ui button" type="submit" value="Saglabāt" />
    </form>

{% endblock content %}
