{% extends "base.html" %}
{#% load django_markdown %#}

{% block content %}

    {% include "article/error_check.html" %}

    <form method="POST" action="{% url 'article_add' %}">
        {% csrf_token %}

        <div class="form-section">
            <label for="id_title">
                {{ form.title.label }}
            </label>
            {{ form.title }}
        </div>

        <div class="form-section">
            <label for="id_description">
                {{ form.description.label }}
            </label>
            {{ form.description }}
        </div>

        <div class="form-section">
            <label for="id_article">
                {{ form.article.label }}
            </label>
            {{ form.article }}
        </div>

        <div class="form-section">
            <label for="id_embeded">
                {{ form.embeded.label }}
            </label>
            {{ form.embeded }}
        </div>

        <input class="submit button" type="submit" value="Saglabāt" />
    </form>

{% endblock content %}
