{% extends "base.html" %}
{% load django_markdown %}


{% block content %}

    {% if user.is_staff %}
        <a href="{% url 'article_add' %}">Pievienot ierakstu</a>
    {% endif %}


        {% for article in articles %}
            <div class="ui blue segment">
                <h3 class="ui dividing large header">
                    <a href="{% url 'article_item' article.id %}">
                        {{ article.title|title }}
                    </a>
                </h3>

                {% if user.is_admin %}
                    <div>
                        <a href="">
                            <i class="edit icon"></i>
                        </a>
                        {% include 'article/delete.html' %}
                    </div>
                {% endif %}

                <p>
                    {{ article.description }}
                    <a href="{% url 'article_item' article.id %}"> Vairāk...</a>
                    <!-- <img alt="Preview image" src="http://dummyimage.com/250x250/ecf0f1/8e44ad&text=Title'"> -->
                </p>

                <div class="">
                    <div class="">
                        {{ article.user.get_full_name }}
                    </div>

                    <div class="">
                        {{ article.created_at|date:"Y.m.d" }}
                    </div>
                </div>

            </div>
        {% endfor %}


    {% if articles.paginator.num_pages > 1 %}
        <div class="ui pagination menu">
            {% if articles.has_previous %}
                <a class="item" href="{% url 'article_base' articles.previous_page_number %}">
                    <i class="icon left arrow"></i>Iepriekšējais
                </a>
            {% endif %}

            <a class="item" href="{% url 'article_base' articles.number %}">
                {{ articles.number }}
            </a>

            {% if articles.has_next %}
                <a class="item" href="{% url 'article_base' articles.next_page_number %}">
                    <i class="icon right arrow"></i>Nākošais
                </a>
            {% endif %}
        </div>
    {% endif %}

{% endblock content %}

