{% extends "base.html" %}
{% load django_markdown %}


{% block content %}

    {% if user.is_staff %}
        <a href="{% url 'article_add' %}">Pievienot ierakstu</a>
    {% endif %}

    <ul id="articles">

        {% for article in articles %}
            <li class="section">
                <div class="article_title">
                    <h1>
                        <a href="{% url 'article_item' article.id %}">
                            {{ article.title|title }}
                        </a>
                    </h1>
                </div>

                <div class="article_details">
                    <span class="article_details-author">
                        {{ article.user.get_full_name }}
                    </span>
                    <span></span>
                    <span class="article_details-time">
                        {{ article.created_at|date:"Y.m.d" }}
                    </span>
                </div>

                <div class="article-summary">
                    <img alt="Preview image" src="http://dummyimage.com/250x250/ecf0f1/8e44ad&text=Title'">
                    {{ article.description }}
                    <a class="article_read-more-link" href="{% url 'article_item' article.id %}">Vairāk...</a>
                </div>

                {% if user.is_superuser %}
                    <ul class="action-menu">
                        <li class="edit-action">
                            <a class="edit button" href="{% url 'article_edit' article.id %}">Labot</a>
                        </li>
                        <li class="delete-action">
                            {% include 'article/delete.html' %}
                        </li>
                    </ul>
                {% endif %}

                <div class="line-separator"></div>

            </li>
        {% endfor %}

    </ul>

    {% if articles.paginator.num_pages > 1 %}
        <div class="ui pagination menu">
            {% if articles.has_previous %}
                <a class="item" href="{% url 'article_base' articles.previous_page_number %}">
                    <i class="icon left arrow"></i>Iepriekšējais
                </a>
            {% endif %}

            <a class="item" href="{% url 'article_base' articles.number %}">
                {{ articles.number }}
            </a>

            {% if articles.has_next %}
                <a class="item" href="{% url 'article_base' articles.next_page_number %}">
                    <i class="icon right arrow"></i>Nākošais
                </a>
            {% endif %}
        </div>
    {% endif %}

{% endblock content %}
