{% extends "base.html" %}
{% load django_markdown %}

{% block content %}

    {% if user.is_staff %}
        <a href="{% url 'article_add' %}">Pievienot ierakstu</a>
    {% endif %}

    <ul id="articles">

        {% for article in articles %}
            <li class="section">
                <ul>
                    <li class="article-title">
                        <a href="{% url 'article_item' article.id %}">
                            {{ article.title|title }}
                        </a>
                    </li>

                    <li class="description">
                        <p>{{ article.description }}</p>
                        <a href="{% url 'article_item' article.id %}">Vairāk...</a>
                    </li>

                    <li class="meta-time">
                        {{ article.created_at|date:"Y.m.d H:i:s" }}
                    </li>

                    <li class="">
                        <a href="{% url 'article_edit' article.id %}">Labot</a>
                    </li>

                    <li class="">
                        {% include 'article/delete.html' %}
                    </li>
                </ul>
            </li>
        {% endfor %}

    </ul>

{% endblock content %}
