{% extends "base.html" %}
{% load django_markdown %}


{% block content %}

    <div class="ui breadcrumb">
        <a href="{% url 'article_base' %}" class="section">
            Raksti
        </a>
    </div>


    <div>
        <a class="ui blue button" href="{% url 'article_edit' article.id %}">Labot</a>

        {% include 'article/delete.html' %}
    </div>

    <div class="">
        <div>
            <div>
                <a href="#">
                    {{ article.user.get_full_name }}
                </a>
            </div>

            <div>
                {{ article.created_at|date:"Y.m.d" }}
            </div>

            <span class=""
                    alt="Komentāru skaits"
                    title="Komentāru skaits">
                <img src="" alt="Message icon" title="Message icon">

                <a href="#article-comments">{{ comment_info }}</a>
            </span>

        </div>

        <h3 class="ui header">
            {{ article.title }}
        </h3>

        {% if article.article %}
            <div class="article">
                {{ article.article|markdown }}
            </div>
        {% endif %}

        {% if article.embeded %}
            <div class="article-video">
                {{ article.embeded|safe|escape }}
            </div>
        {% endif %}
    </div>

    {% include "comment/add_article_comment.html" %}

    {% include "comment/show_article_comment.html" %}

{% endblock content %}

