{% extends "base.html" %}
{% load django_markdown %}


{% block content %}

    <div class="ui breadcrumb">
        <a href="{% url 'article_base' %}" class="section">
            Raksti
        </a>
    </div>


    <div>
        <a class="ui blue button" href="{% url 'article_edit' article.id %}">Labot</a>

        {% include 'article/delete.html' %}
    </div>

    <div class="article">
        <div class="publication-meta">
            <span class="author">
                <a href="#">{{ article.user.get_full_name }}</a>
            </span>

            <span class="publication-date" title="">
                {{ article.created_at|date:"Y.m.d" }}
            </span>

            <span class="comment-count"
                    alt="Komentāru skaits"
                    title="Komentāru skaits">
                <img src="" alt="Message icon" title="Message icon">
                <a href="#article-comments">8 Komentāri</a>
            </span>

        </div>

        <h3>{{ article.title }}</h3>

        {% if article.article %}
            <div class="article">
                {{ article.article|markdown }}
            </div>
        {% endif %}

        {% if article.embeded %}
            <div class="article-video">
                {{ article.embeded|safe|escape }}
            </div>
        {% endif %}
    </div>

    {% include "comment/add_article_comment.html" %}

    <div class="ui comments">
        {% for comment in comments %}
            <div class="comment">
                <div class="content">
                    <a class="author">{{ comment.user.get_user_name }}</a>
                    <div class="metadata">
                        <div>{{ comment.created_at|date:"Y.m.d H:i:s" }}</div>
                    </div>
                    <div class="text">
                        {{ comment.comment }}
                    </div>
                </div>

                <div class="actions">
                    <a class="#">Labot</a>
                    <a class="#">Dzēst</a>
                </div>

            </div>
        {% endfor %}
    </div>

{% endblock content %}

