{% extends "base.html" %}

{% block content %}


<h1 class="ui header">Katergorija</h1>

<div class="ui divider"></div>

{% if form.title.errors %}
    <div class="ui error message">
        {{ form.title.label }}
        <ul class="list">
            <li>{{ form.title.errors|striptags }}</li>
        </ul>
    </div>
{% endif %}


<form method="POST" action="{{ url_post_to }}" class="ui form">
    {% csrf_token %}

    <input type="hidden" name="record" value="{{ record_id }}">

    <div class="field">
        <label>{{ form.title.label }}</label>
        {{ form.title }}
    </div>

    <input type="submit" value="Saglabāt" class="ui submit button">
</form>

{% endblock content %}

