{% extends "base.html" %}

{% block content %}

    <div>
        <a href="{% url 'category_form' %}">Pievienot</a>
    </div>

    <div class="ui divided list">
        {% for category in categories %}
            <div class="item">
                <div class="right floated compact">
                    <a class="ui button red" href="{% url 'category_edit' category.id %}">Labot</a>
                </div>

                <div class="right floated compact">
                    {% include 'category/delete.html' %}
                </div>

                <div class="content">
                    <div class="header">{{ category.title }}</div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}

