{% extends "base.html" %}


{% block content %}
    <h1>Pievienot grupu</h1>

    <a href="{% url 'group_perms_add' %}">Tiesību saraksts</a>

    <form method="POST" action="{% url 'group_add' %}">
        {% csrf_token %}

        <select name="group_id">
        {% for group in groups %}
            <option value="{{ group.id }}">{{ group.name }}</option>
        {% endfor %}
        </select>

        <input type="submit" name="Piešķirt" />
    </form>

    <form method="POST" action="{% url 'group_create' %}">
        {% csrf_token %}

        <input type="text" name="group_name" />
        <input type="submit" value="Saglabāt" />
    </form>
{% endblock content %}

