{% extends "base.html" %}


{% block content %}
    <div>Labot profilu</div>

    <form method="POST" action="{% url 'user_edit' %}" class="ui form segment">
    {% csrf_token %}

    <div class="field">
        {{ form.user_name.label }}
        {{ form.user_name }}
    </div>

    <div class="field">
        {{ form.last_name.label }}
        {{ form.last_name }}
    </div>

    <div class="field">
        {{ form.email.label }}
        {{ form.email }}
    </div>

    <div class="field">
        {{ form.bio.label }}
        {{ form.bio }}
    </div>

    <input type="submit" value="Saglabāt" class="ui submit button">
</form>

{% endblock content %}
