{% extends "base.html" %}

{% block content %}

    <ul>
        {% for group in groups %}
        <li>
            {{ group.name }}
            [<a href="{% url 'group_edit' group.id %}">Labot</a>]

            <form class="form-delete" method="POST" action="{% url 'group_delete' %}">
                {% csrf_token %}

                <input type="hidden" name="group_id" value="{{ group.id }}" />
                <input type="submit" value="Dzēst" />
            </form>

        </li>
        {% endfor %}
    </li>

{% endblock content %}

