{% extends "base.html" %}

{% block content %}

    <a href="{% url 'group_add' %}">Pievienot grupu</a>
    <a href="{% url 'group_perms_add' %}">Pievienot atļaju grupai</a>

    <ul>
        {% for group in groups %}
        <li>
            <ul class="context">
                <li>{{ group.name }}</li>
                <li class="edit"><a href="{% url 'group_edit' group.id %}">Labot</a></li>

                <li class="delete">
                    <form class="form-delete" method="POST" action="{% url 'group_delete' %}">
                        {% csrf_token %}

                        <input type="hidden" name="group_id" value="{{ group.id }}" />
                        <input type="submit" value="Dzēst" />
                    </form>
                </li>
            </ul>
        </li>
        {% endfor %}
    </li>

{% endblock content %}

