{% extends "base.html" %}


{% block content %}
    <div>
        Lietotāju saraksts
    </div>

    {% include "user/find.html" %}

    <table class="ui sortable table segment">
        <thead>
            <tr>
                <th>Vārds</th>
                <th>Uzvārds</th>
                <th>Atļaujas</th>
                <th>Dzēst</th>
                <!-- <th>Parole</th> -->
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.last_name }}</td>
                    <td></td>
                    <td>
                        <form method="POST" action="{% url 'user_delete' %}">
                            {% csrf_token %}

                            <input type="hidden" name="userID" value="{{ user.id }}" />
                            <input type="submit" value="Dzēst" />
                        </form>
                    </td>
                    <!-- <td>{#{ user.password }#}</td> -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
