{% extends "base.html" %}


{% block content %}
    <h2 class="header">Lietotāju saraksts</h2>

    {% include "user/find.html" %}

    <div>
        <!--<div id="save-info" class="ui blue button">Saglabāt</div>-->
        <div id="delete-info" class="ui red button">Dzēst</div>
        <div id="block-info" class="ui red button">Bloķēt</div>
    </div>

    <form method="post" action="{% url 'user_block' %}">
        {% csrf_token %}
        <input type="hidden" name="data" value="3" />
        <input type="hidden" name="data" value="4" />
        <input type="hidden" name="data" value="5" />
        <input type="hidden" name="data" value="2" />
        <input type="hidden" name="data" value="8" />

        <input type="submit" />
    </form>
    <table class="ui sortable table segment">
        <thead>
            <tr>
                <th>Vārds</th>
                <th>Uzvārds</th>
                <th>Status</th>
                <th>Dzēst</th>
                <th>Bloķēt</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="{% url 'user_profile' %}">{{ user.user_name }}</a></td>
                    <td>{{ user.last_name }}</td>
                    <td>
                        {{ user.get_user_type }}
                    </td>
                    <td>
                        {#% include 'user/delete_user.html' %#}
                        <input class="delete-user" type="checkbox" data-id="{{ user.id }}"/>
                    </td>
                    <td>
                        <input class="block-user" type="checkbox" data-id="{{ user.id }}"/>
                    </td>
                </tr>
            {% endfor %}
            <tfoot>
                <tr>
                    <th>Papillon</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </tbody>
    </table>
{% endblock content %}

