{% extends "base.html" %}


{% block content %}
    <h2 class="header">Lietotāju saraksts</h2>

    {% include "user/find.html" %}

    <div>
        <div id="delete-info" class="ui red button">Dzēst</div>
        <div id="block-info"  class="ui red button">Bloķēt</div>
    </div>

    <table class="ui sortable table segment">
        <thead>
            <tr>
                <th>Vārds</th>
                <th>Uzvārds</th>
                <th>Status</th>
                <th>Dzēst?</th>
                <th>Bloķēts?</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="{% url 'user_profile' %}">{{ user.user_name }}</a></td>
                    <td>{{ user.last_name }}</td>
                    <td>
                        {{ user.get_user_type }}
                    </td>
                    <td>
                        <input class="delete-user" type="checkbox" data-id="{{ user.id }}"/>
                    </td>
                    <td>
                        <input class="block-user" 
                                type="checkbox" 
                                data-id="{{ user.id }}"
                                {{ user.is_active|yesno:'checked, ' }} />
                    </td>
                </tr>
            {% endfor %}
            <tfoot>
                <tr>
                    <th>Papillon</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </tbody>
    </table>

    <form id="user-delete-hidden" method="post" action="{% url 'user_delete' %}">
        {% csrf_token %}
    </form>
{% endblock content %}

