{% extends "base.html" %}

{% block content %}

    <form method="POST" action="{% url 'group_perms_add' %}">

        {% csrf_token %}

        <label>Grupa</label>
        <select name="group_id" size="20">
            {% for group in groups %}
                <option value="{{ group.id }}">{{ group.name }}</option>
            {% endfor %}
        </select>

        {% if perms %}
        <label>Atļaujas</label>
        <select name="permissions" size="20" multiple>
            {% for perm in perms %}
                <option value="{{ perm.id }}">{{ perm.name }}</option>
            {% endfor %}
        </select>
        {% endif %}

        <input type="submit" name="Pievienot atļaujas" />
    </form>
{% endblock content %}
