{% extends "base.html" %}

{% block content %}

    <form method="POST" action="{% url 'group_perms_add' %}">

        {% csrf_token %}

        <div class="form-section">
            <label for="group_list">Grupa</label>
            <select id="group_list" name="group_id">
                {% for group in groups %}
                    <option value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-section">
            <label for="permission_list">Atļaujas</label>
            <select id="permission_list" name="permissions" size="20" multiple>
                {% for perm in perms %}
                    <option value="{{ perm.id }}">{{ perm.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-section">
            <input type="submit" value="Pievienot atļaujas">
        </div>

    </form>
{% endblock content %}
