{% extends "base.html" %}

{% block content %}

    <div class="ui grid">
        {#% include 'user/find.html' %#}
        <div class="six wide column">
            <div class="ui vertical menu">
                {% if user.is_admin %}
                <a class="item" href="{% url 'user_base' %}">
                    Lietotāju adminstrēšana
                </a>
                {% endif %}
                <a class="item" href="{% url 'messaging_inbox' %}">
                    Ziņās
                </a>
                <a class="item" href="{% url 'user_form' %}">
                    Labot profilu
                </a>
            </div>
        </div>

        <div class="ten wide column">
            <div class="user avatar">
                <img src="{{ user.get_avatar }}" />
            </div>

            <table>
                <tr>
                    <td>Vārds:</td>
                    <td>{{ user.user_name }}</td>
                </tr>
                <tr>
                    <td>Uzvārds:</td>
                    <td>{{ user.last_name }}</td>
                </tr>
                <tr>
                    <td>E-pasts:</td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <td>Apraksts:</td>
                    <td>{{ user.bio }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock content %}

