{% extends "base.html" %}

{% block content %}

    <div>
        {#% include 'user/find.html' %#}
    </div>

    <ul>
        <li>
            <a href="{% url 'messaging_inbox' %}">Ziņas</a>
        </li>
        <li>
            <a href="{% url 'user_base' %}">Lietotāji</a>
        </li>
        <li>
            <a href="{% url 'user_form' %}">Labot profilu</a>
        </li>
        <li>
            <a href="{% url 'create_admin' %}">Admin. tiesības</a>
        </li>

        {% if user.is_superuser %}
            <li>
                <a href="{% url 'group_list' %}">Grupas</a>
            </li>
        {% endif %}
    </ul>

    <div>
        <div class="user avatar">
            <img src="{{ user.get_avatar }}" />
        </div>

        <table>
            <tr>
                <td>Vārds:</td>
                <td>{{ user.user_name }}</td>
            </tr>
            <tr>
                <td>Uzvārds:</td>
                <td>{{ user.last_name }}</td>
            </tr>
            <tr>
                <td>E-pasts:</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>Apraksts:</td>
                <td>{{ user.bio }}</td>
            </tr>

        </table>

        {% if badges %}
            Badges
            <ul>
                {% for badge in badges %}
                    <li alt="{{ badge.name }}" title="{{ badge.name }}">{{ badge.name }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    </div>
{% endblock content %}

