{% extends "base.html" %}

{% block content %}
    <ul>
        <li><a href="{% url 'messaging_inbox' %}">Zinas</a></li>
        <li><a href="{% url 'user_base' %}">Lietotāji</a></li>
        <li>{% include 'user/find.html' %}</li>
        <li><a href="{% url 'user_edit' %}">Labot profilu</a></li>
        {% if user.is_superuser %}
        <li><a href="{% url 'group_list' %}">Grupas</a></li>
        {% endif %}
    </ul>
    <div>
        <ul>
            <li>{{ user.user_name }}</li>
            <li>{{ user.password }}</li>
            <li>{{ user.email }}</li>
            <li>{{ user.first_name }}</li>
            <li>{{ user.last_name }}</li>
            <li>{{ user.last_login }}</li>
            <li>{{ user.date_joined }}</li>
            <li>
                <ul>
                {% for group in user.groups.all %}
                    <li>{{ group.name }}</li>
                {% endfor %}
                </ul>
            </li>
            <li>Lietotāja atļaujas:
                <ul>
                    {% for permission in user.get_all_permissions %}
                        <li>{{ permission }}</li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
{% endblock content %}
