{% extends "base.html" %}

{% block content %}

    {% if form.email.errors %}
        <div class="ui error message">
            {{ form.email.label }}
            <ul class="list">
                {% for error in form.email.errors %}
                    <li>{{ error|striptags }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if form.user_name.errors %}
        <div class="ui error message">
            {{ form.user_name.label }}
            <ul class="list">
                {% for error in form.user_name.errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if form.last_name.errors %}
        <div class="ui error message">
            {{ form.last_name.label }}
            <ul class="list">
                {% for error in form.last_name.errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if form.password1.errors %}
        <div class="ui error message">
            {{ form.password1.label }}
            <ul class="list">
                {% for error in form.password1.errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if form.password2.errors %}
        <div class="ui error message">
            {{ form.password2.label }}
            <ul class="list">
                {% for error in form.password2.errors %}
                    <li>{{ error|striptags }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}

        <div class="ui form segment">>

            <div class="field">
                <label for="{{ form.email.id_for_label }}">
                    {{ form.email.label }}
                </label>

                {{ form.email }}
            </div>

            <div class="field">
                <label for="{{ form.user_name.id_for_label }}">
                    {{ form.user_name.label }}
                </label>

                {{ form.user_name }}
            </div>

            <div class="field">
                <label for="{{ form.last_name.id_for_label }}">
                    {{ form.last_name.label }}
                </label>

                {{ form.last_name }}
            </div>

            <div class="field">
                <label for="{{ form.password1.id_for_label }}">
                    {{ form.password1.label }}
                </label>

                {{ form.password1 }}
            </div>

            <div class="field">
                <label for="{{ form.password2.id_for_label }}">
                    {{ form.password2.label }}
                </label>

                {{ form.password2 }}
            </div>
        </div>

        <input type="submit" value="Reģistrēties" class="positive ui button" />
    </form>

{% endblock content %}

