{% extends "base.html" %}

{% block content %}
    <ul>
        <li><a href="{% url 'messaging_add' %}">Rakstīt ziņu</a></li>
        <li><a href="{% url 'messaging_trash' %}">Miskaste</a></li>
    </ul>

    Message List:
    <table>

            <tr>
                <th>Title</th>
                <th>Date</th>
            </tr>

        {% for message in messages %}
            <tr>
                <td>
                    <a href="{% url 'messaging_read' message.id %}">
                        {{ message.title|title }}
                    </a>
                </td>
                <td>
                    {{ message.sent_at|date:"Y.m.d H:i:s" }}
                </td>
            </tr>
        {% endfor %}

    </table>
{% endblock content %}
