{% extends "base.html" %}


{% block content %}

    <div class="ui vertical menu">
        <a class="teal item" href="{% url 'messaging_add' %}">
            Rakstīt ziņu
        </a>
        <a class="teal item" href="{% url 'messaging_trash' %}">
            Miskaste
        </a>
    </div>

    <div class="ui text menu">
        <a class="item" href="#">
            Kopā: {{ msg_info.total_count }}
        </a>
        <a class="item" href="#">
            Nelasītas: {{ msg_info.msg_unred }}
        </a>
        <a class="item" href="#">
            Lasītas: {{ msg_info.msg_red }}
        </a>
        <a class="item" href="#">
            Miskastē: {{ msg_info.msg_in_trash }}
        </a>
    </div>

    <form action="{% url 'msg_list_delete' %}" method="POST">

        {% csrf_token %}

        {% if messages %}
            <div class="ui fluid four item menu">
                <a class="item" href="#" id="msg-delete">Dzēst</a>
                <a class="item" href="#" id="show-all-msg">Rādīt visu</a>
                <a class="item" href="#" id="show-red-msg">Rādīt lasītās</a>
                <a class="item" href="#" id="show-unred-msg">Rādīt nelasītās</a>
            </div>

            {% include 'message/message_table.html' %}
        {% else %}
            <div class="ui warning">
                Pagaidām vēl neviena ziņa nav saņemta
            </div>
        {% endif %}

    </form>

{% endblock content %}

