{% extends "base.html" %}

{% block content %}

    <a href="{% url 'messaging_inbox' %}">Atpakaļ</a>

    <div class="ui message">
        <div>
            <form method="POST" action="{% url 'messaging_to_trash' %}">
                {% csrf_token %}

                <input type="hidden" name="messageID" value="{{ message.id }}" />
                <input type="submit" value="Uz miskasti" />
            </form>

            {% include "message/delete_msg.html" %}

            <a href="{% url 'messaging_respond' message.id %}">Atbildēt</a>

        </div>
        No: {{ message.user_from.username }}
        <div class="header">
            {{ message.title }}
        </div>
        <div>Just for diff</div>
        <p>
            {{ message.message }}
        </p>
        {{ message.sent_at }}
    </div>

{% endblock content %}
