{% extends "base.html" %}

{% block content %}

    <div class="">
        <div>Uz miskasti</div>
        <div>Atbildēt</div>
        <div>Pārsūtīt</div>
    </div>

    <div class="ui message">
        <div>
            {% include "message/delete_msg.html" %}

            <form method="POST" action="{% url 'messaging_delete' %}">
                {% csrf_token %}

                <input type="hidden" name="messageID" value="{{ message.id }}" />
                <input type="submit" value="Dzēst" />
            </form>
        </div>
        No: {{ message.user_from.username }}
        <div class="header">
            {{ message.title }}
        </div>
        <div>Just for diff</div>
        <p>
            {{ message.message }}
        </p>
        {{ message.sent_at }}
    </div>

{% endblock content %}
