{% extends "base.html" %}

{% block content %}
    <form method="POST" action="{% url 'messaging_add' %}">
        {% csrf_token %}

        <div class="ui form">

            <div class="field">
                <label for="{{ form.user_to.id_for_label }}">
                    {{ form.user_to.label }}
                </label>

                {{ form.user_to }}
            </div>

            <div class="field">
                <label for="{{ form.title.id_for_label }}">
                    {{ form.title.label }}
                </label>

                {{ form.title }}
            </div>

            <div class="field">
                <label for="{{ form.message.id_for_label }}">
                    {{ form.message.label }}
                </label>

                {{ form.message }}
            </div>

            <input type="submit" value="Sūtīt" class="ui green button" />
        </div>
    </form>
{% endblock content %}
