{% extends "base.html" %}

{% block content %}

    <div class="ui breadcrumb">
        <i class="left chevron icon divider"></i>

        <a class="section" href="{% url 'messaging_inbox' %}">
            Atgriezties uz ziņām
        </a>
    </div>

    <form method="POST" action="{% url 'messaging_add' %}" class="ui form segment">
        {% csrf_token %}

        <div class="field">
            <label for="{{ form.user_to.id_for_label }}">
                {{ form.user_to.label }}
            </label>

            {{ form.user_to }}
        </div>

        <div class="field">
            <label for="{{ form.title.id_for_label }}">
                {{ form.title.label }}
            </label>

            {{ form.title }}
        </div>

        <div class="field">
            <label for="{{ form.message.id_for_label }}">
                {{ form.message.label }}
            </label>

            {{ form.message }}
        </div>

        <input type="submit" value="Sūtīt" class="postive ui button" />
    </form>

{% endblock content %}

