{% extends "base.html" %}

{% block content %}

    <div>
        <a href="{% url 'messaging_inbox' %}">Atpakaļ</a>
    </div>

    {% for message in messages %}
        <li>
            <li>
                {% include "message/trash_msg.html" %}
            </li>

            <li>
                {% include "message/delete_msg.html" %}
            </li>

            <li>
                <a href="{% url 'messaging_respond' message.id %}">Atbildēt</a>
            </li>
        </li>

        <div class="ui message">
            No: {{ message.user_from.user_name }}
            <div class="header">
                {{ message.title }}
            </div>
            <p>
                {{ message.message }}
            </p>
            {{ message.sent_at }}
        </div>
    {% empty %}
        <div>Neviena ziņa netika atrasta</div>
    {% endfor %}

{% endblock content %}
