{% extends "base.html" %}

{% block content %}

    <div>
        <a href="{% url 'messaging_inbox' %}">Atpakaļ</a>
    </div>

    {% for message in messages %}
        <li>
            <li>
                <form method="POST" action="{% url 'messaging_restore' %}">
                    {% csrf_token %}

                    <input type="hidden" name="messageID" value="{{ message.id }}" />
                    <input type="submit" value="Atjanunot" />
                </form>
            </li>
            <li>
                {% include "message/delete_msg.html" %}
            </li>
            <li>
                <a href="{% url 'messaging_respond' message.id %}">Atbildēt</a>
            </li>
        </li>

        <div class="ui message">
            No: {{ message.user_from.username }}
            <div class="header">
                {{ message.title }}
            </div>
            <p>
                {{ message.message }}
            </p>
            {{ message.sent_at }}
        </div>
    {% empty %}
        <div>Neviena ziņa netika atrasta</div>
    {% endfor %}

{% endblock content %}
