{% extends "base.html" %}

{% block content %}

<h1 class="ui header">Atbildes</h1>

<div class="ui divider"></div>

<form method="POST" action="{{ url_post_to }}" class="ui form segment">
    {% csrf_token %}

    {% if record_id %}
        <input type="hidden" name="record" value="{{ record_id }}">
    {% endif %}

    {% if poll_id %}
        <input type="hidden" name="poll" value="{{ poll_id }}">
    {% endif %}

    <div class="field">
        <label>{{ form.question.label }}</label>
        {{ form.question }}
    </div>

    <div class="field">
        <label>{{ form.answer.label }}</label>
        {{ form.answer }}
    </div>

    <input type="submit" value="Saglabāt" class="ui submit button">
</form>

{% endblock content %}

