{% extends "base.html" %}

{% block content %}

    {% if form.username.errors %}
        <ul class="ui error message">
            {% for error in form.username.errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if form.password.errors %}
        <ul class="ui error message">
            {% for error in form.password.errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <div class="ui form segment">

            <div class="field">
                <label>{{ form.username.label }}</label>
                <div class="ui left labeled icon input">
                    {{ form.username }}
                    <i class="user icon"></i>
                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
            </div>

            <div class="field">
                <label>{{ form.password.label }}</label>
                <div class="ui left labeled icon input">
                    {{ form.password }}
                    <i class="lock icon"></i>
                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
            </div>

        </div>

        <input type="submit" value="Ienākt" class="ui blue submit button" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

{% endblock content %}
