{% extends "base.html" %}

{% block content %}

    {% if form.email.errors %}
        <ul>
            {% for error in form.email.errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    {% if form.password.errors %}
        <ul>
            {% for error in form.password.errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="">
        <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}

            <div class="form-section">
                <label for="id_email">
                    {{ form.email.label_tag }}
                </label>
                {{ form.username }}
            </div>

            <div class="form-section">
                <label for="id_password">
                    {{ form.password.label_tag }}
                </label>
                {{ form.password }}
            </div>

            <input type="submit" value="Ienākt" class="submit button" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>

{% endblock content %}
