
a[href]:link,
a[href]:visited,
a[href]:hover,
a[href]:active {
    text-decoration: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #2C3E50;
    font-weight: bold;
}

#container {
    width: 900px;
    margin: 20px auto 30px;
    border-color: #d35400;
    border-width: 2px;
    border: 1px solid red;
}

.action {
    list-style: none;
    display: inline;
}

.action > li {
    display: inline;
    margin: 3px;
    padding: 2px;
}

.action > li > form {
    display: inline;
}

.navigator-status {
    border-radius: 3px;
    text-align: center;
}

.navigator-status.online{
    background-color: #2ecc71;
}

.navigator-status.offline {
    background-color: #e74c3c;
}

/* MENU */
nav ul#menu {
    list-style: none;
    width: 900px;
    margin: 20px auto 20px;
    /*font-size: 24px;*/
}

nav ul#menu li.menu-item {
    background: #34495e;
    display: inline;
    border: 1px solid #2c3e50;
    border-radius: 3px;
    padding: 4px;
}

nav ul#menu li.menu-item > a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
}

nav ul#menu li.menu-item:hover {
    background-color: #374452;
    box-shadow: 0px 3px 0px teal;
}

nav ul#menu li.menu-item ul#timer-tray {
    position: relative;
}

/* MENU */

/** LIBRARY **/
ul#library {
    list-style: none;
}

ul#library li.item {
    display: inline;
    border: 1px solid black;
    padding: 3px;
    margin: 2px;
}

ul#library li.item > ul.library-section {
    display: none;
}

ul#library li.item:hover > ul.library-section {
    display: block;
    position: absolute;
}

ul.library-section {
    background-color: #9AE7D9;
}

/** LIBRARY **/


ul#timer-tray li {
    display: block;
}

.hide {
    display: none;
}

.show-block {
    display: block;
}

input[type='text'],
input[type='password'],
input[type='email'] {
    height: 24px;
    border-radius: 3px;
    margin: 7px;
    padding: 3px;
}

textarea {
    border-radius: 3px;
    margin: 7px;
    padding: 3px;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus {
    box-shadow: 4px 4px 2px rgba(30, 130, 90, 0.85);
}

input[type='text']:valid,
input[type='password']:valid,
input[type='email']:valid {
    border-color: green;
}

input[type='text']:invalid,
input[type='password']:invalid,
input[type='email']:invalid {
    box-shadow: 4px 4px 2px rgba(200, 0, 0, 0.85);
}

input[type='text']:required,
input[type='password']:required,
input[type='email']:required {
    box-shadow: 4px 4px 2px rgba(100, 30, 90, 0.85);
}

.context {
    list-style: none;
}

.context li {
    display: inline;
}

.context li > form {
    display: inline;
}

.form-section {
    margin-top: 10px;
    /*width: 80%;*/
    min-width: 120px;
}

.form-section label {
    display: block;
}

.form-section input[type='text'],
.form-section input[type='password'],
.form-section input[type='email'],
.form-section textarea {
    width: 96%;
}

/* article styles */

#articles {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#articles li.section {
    margin-top: 5px;
    margin-bottom: 8px;
}

#articles .line-separator {
    margin-top: 8px;
    margin-bottom: 24px;
    height: 1px;
    background-color: #717171;
    border-bottom: 1px solid #313030;
}

.meta-time {
    color: #2c3e50;
    font-style: italic;
    font-size: 14px;
}

.meta-more {
    font-size: 18px;
}

.meta-edit {
    display: inline;
}

.meta-delete {
    display: inline;
}

.message-list {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #efefef;
}

.message-list td, .message-list th {
    padding: 5px;
    border-radius: 2px;
    border-collapse: collapse;
    border: 1px solid #efefef;
}

.message-list .message-date {
    width: 180px;
}

.message-list .message-from {
    width: 130px;
}

.message-list tr:nth-child(odd) {
    background-color: red;
}

.message-list tr:nth-child(even) {
    background-color: blue;
}

.message-list tr:first-child {
    background-color: green;
}
