{% extends "base.html" %}

{% block content %}
    <div class="ui form">
        <form method="POST" action="">
            {% csrf_token %}
            {% for element in form %}
                {{ element.type }}
                <label>{{ element.label }}</label>
                <div class="ui labeled icon input">
                    {{ element }}
                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
            {% endfor %}
            <input type="submit" value="Saglabāt" class="ui green button" />
        </form>
    </div>
{% endblock content %}
