{% extends "base.html" %}


{% block content %}

    {{ form.erros }}

    {% if form.category.errors %}
        <div class="error message">
            {{ form.category.label }}
            <ul class="list">
                <li>{{ form.category.errors|striptags }}</li>
            </ul>
        </div>
    {% endif %}

    {% if form.title.errors %}
        <div class="error message">
            {{ form.title.label }}
            <ul class="list">
                <li>{{ form.title.errors|striptags }}</li>
            </ul>
        </div>
    {% endif %}

    {% if form.description.errors %}
        <div class="error message">
            {{ form.description.label }}
            <ul class="list">
                <li>{{ form.description.errors|striptags }}</li>
            </ul>
        </div>
    {% endif %}

    {% if form.level.errors %}
        <div class="error message">
            {{ form.level.label }}
            <ul class="list">
                <li>{{ form.level.errors|striptags }}</li>
            </ul>
        </div>
    {% endif %}

    {% if form.tags.errors %}
        <div class="error message">
            {{ form.tags.label }}
            <ul class="list">
                <li>{{ form.tags.errors|striptags }}</li>
            </ul>
        </div>
    {% endif %}

    <form method="POST" action="">
        {% csrf_token %}
        <div class="form-section">
            <label for="{{ form.category.id_for_label }}">
                {{ form.category.label }}
            </label>

            {{ form.category }}
        </div>

        <div class="form-section">
            <label for="{{ form.title.id_for_label }}">
                {{ form.title.label }}
            </label>

            {{ form.title }}
        </div>

        <div class="form-section">
            <label for="{{ form.description.id_for_label }}">
                {{ form.description.label }}
            </label>

            {{ form.description }}
        <div>

        <div class="form-section">
            <label for="{{ form.level.id_for_label }}">
                {{ form.level.label }}
            </label>

            {{ form.level }}
        <div>

        <div class="form-section">
            <label for="{{ form.tags.id_for_label }}">
                {{ form.tags.label }}
            </label>

            {{ form.tags }}
        </div>

        <input type="submit" value="Saglabāt" class="submit button" />
    </form>

{% endblock content %}

