{% extends "base.html" %}


{% block content %}

    {% include "course/error_check_categorie.html" %}

    <form method="POST" action="{% url 'add_categorie' %}">
        {% csrf_token %}

        <div class="ui form segment">

            <div class="field">
                <label for="{{ form.course.id_for_label }}">
                    {{ form.course.label }}
                </label>

                {{ form.course }}
            </div>

        </div>

        <input type="submit" value="Saglabāt" class="positive ui button" />
    </form>

{% endblock content %}
