{% extends "base.html" %}


{% block content %}

    {% if form.tut.errors %}
        <div class="ui error message">
            {{ form.tut.label }}
            <ul class="list">
                <li>{{ form.tut.errors|striptags }}</li>
            </ul>
        </div>
    {% endif %}

    {% if form.title.errors %}
        <div class="ui error message">
            {{ form.title.label }}
            <ul class="list">
                <li>{{ form.title.errors|striptags }}</li>
            </ul>
        </div>
    {% endif %}

   {% if form.video.errors %}
        <div class="ui error message">
            {{ form.video.label }}
            <ul class="list">
                <li>{{ form.video.errors|striptags }}</li>
            </ul>
        </div>
    {% endif %}

   {% if form.description.errors %}
        <div class="ui error message">
            {{ form.description.label }}
            <ul class="list">
                <li>{{ form.description.errors|striptags }}</li>
            </ul>
        </div>
    {% endif %}

    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-section">
            <label for="{{ form.tut.id_for_label }}">
                {{ form.tut.label }}
            </label>

            {{ form.tut }}
        </div>

        <div class="form-section">
            <label for="{{ form.title.id_for_label }}">
                {{ form.title.label }}
            </label>

            {{ form.title }}
        </div>

        <div class="form-section">
            <label for="{{ form.video.id_for_label }}">
                {{ form.video.label }}
            </label>

            {{ form.video }}
        </div>

        <div class="form-section">
            <label for="{{ form.description.id_for_label }}">
                {{ form.description.label }}
            </label>

            {{ form.description }}
        </div>

        <input type="submit" value="Saglabāt" class="submit button" />
    </form>
{% endblock content %}

