{% extends "base.html" %}


{% block content %}

    <h3 class="ui header">Kategoriju saraksts</h3>

    {% if user.is_staff %}
        <a class="ui blue button" href="{% url 'add_categorie' %}">
            Pievienot
        </a>
    {% endif %}

    {% for key, value in data.items %}

        <div class="ui raised segment">
        <div class="ui purple ribbon label">{{ key }}</div>

        {% for rec in value %}

            <p>
                <a href="{% url 'show_tut' rec.id %}">
                    {{ rec.course }}
                </a>

                    {% if user.is_staff %}

                        <a href="{% url 'add_tut' rec.id %}" alt="Pievienot tutorialu" title="Pievienot tutorialu">
                            <i class="add icon"></i>
                        </a>

                        <a href="{% url 'edit_categorie' rec.id %}" alt="Labot" title="Labot">
                            <i class="edit icon"></i>
                        </a>

                        {% include "course/delete_categorie.html" %}

                    {% endif %}
            </p>
        {% endfor %}
        </div>

    {% empty %}
        <div class="ui warning message">Neviens ieraksts netika atrasts</div>
    {% endfor %}

{% endblock content %}
