{% extends "base.html" %}


{% block content %}
    <div>
        Kategoriju saraksts
    </div>
    {% for rec in data %}
        <div class="data">
            <a href="/course/show/{{ rec.id }}/tut/">{{ rec.course }}</a>
            <a href="/course/add/{{ rec.id }}/tut/" alt="Pievienot tutorialu" title="Pievienot tutorialu">
                <i class="add icon"></i>
            </a>
            <a href="/course/edit/{{ rec.id }}/course/" alt="Labot" title="Labot">
                <i class="edit icon"></i>
            </a>
            <a href="/course/delete/{{ rec.id }}/course/" alt="Dzēst" title="Dzēst">
            	<i class="trash icon"></i>
            </a>
        </div>
    {% empty %}
        <div class="ui warning message">Neviens ieraksts netika atrasts</div>
    {% endfor %}
{% endblock content %}
