{% extends "base.html" %}

{% block content %}

    {% if form.tut.errors %}
        <div class="ui error message">
            {{ form.tut.label }}
            <ul class="list">
                <li>{{ form.tut.errors|striptags }}</li>
            </ul>
        </div>
    {% endif %}

    {% if form.title.errors %}
        <div class="ui error message">
            {{ form.title.label }}
            <ul class="list">
                <li>{{ form.title.errors|striptags }}</li>
            </ul>
        </div>
    {% endif %}

   {% if form.video.errors %}
        <div class="ui error message">
            {{ form.video.label }}
            <ul class="list">
                <li>{{ form.video.errors|striptags }}</li>
            </ul>
        </div>
    {% endif %}

   {% if form.description.errors %}
        <div class="ui error message">
            {{ form.description.label }}
            <ul class="list">
                <li>{{ form.description.errors|striptags }}</li>
            </ul>
        </div>
    {% endif %}

   {% if form.post.errors %}
        <div class="ui error message">
            {{ form.post.label }}
            <ul class="list">
                <li>{{ form.post.errors|striptags }}</li>
            </ul>
        </div>
    {% endif %}

    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-section">
            <label>{{ form.tut.label }}</label>

            {{ form.tut }}
        </div>

        <div class="form-section">
            <label>{{ form.title.label }}</label>

            {{ form.title }}
        </div>

        <div class="form-section">
            <label>{{ form.video.label }}</label>

            {{ form.video }}
        </div>

        <div class="form-section">
            <label>{{ form.description.label }}</label>

            {{ form.description }}
        </div>

        <div class="form-section">
            <label>{{ form.post.label }}</label>

            {{ form.post }}
        </div>

        <input type="submit" value="Saglabāt" class="submit button" />
    </form>
{% endblock content %}
