{% extends "base.html" %}


{% block content %}
    <div>
        Tutorialu saraksts
    </div>

    {% for rec in data %}
        <h2 class="ui header">
            <a href="{% url 'show_material' rec.id %}">{{ rec.title }}</a>

            <a href="{% url 'add_material' rec.id %}" alt="Pievienot materiālu" title="Pievienot materiālu">
                <i class="add icon"></i>
            </a>
            <a href="{% url 'edit_tut' rec.id %}" alt="Labot" title="Labot">
                <i class="edit icon"></i>
            </a>
            <a href="{% url 'delete_tut' rec.id %}" alt="Dzēst" title="Dzēst">
                <i class="trash icon"></i>
            </a>

            <div class="sub header">
                <a class="rate" href="{% url 'rate_tut' %}" id="tut-rate-{{ rec.id }}">
                    {{ rec.rating }}<i class="star icon"></i>
                </a>
                <div class="ui clearing divider"></div>
                {{ rec.description }}
            </div>
        </h2>
        <div class="ui horizontal icon divider">
            <i class="circular book icon"></i>
        </div>
    {% empty %}
        <div class="ui warning message">
            <p>Pagaidām nekas nav pievienots</p>
        </div>
    {% endfor %}
{% endblock content %}
