{% extends "base.html" %}


{% block content %}
    {% if request.session.last_url %}
        <a href="{{ request.session.last_url }}">atgriezties</a>
    {% endif %}

    {% if not data %}
        <div>
            Pagaidām tutorialu vēl nav!!!
        </div>
    {% endif %}

    <div class="ui label purple">
        Skaits: {{ data.all.count }}
    </div>

    {% for rec in data %}
        <div class="ui tertiary segment">
            <div class="ui inverted purple block header">
                {{ rec.title }}
                <a class="ui red" href="/course/delete/{{ rec.id }}/material">
                    <i class="trash icon"></i>
                </a>
            </div>
            <video controls width="320" height="240"
                        alt="{{ rec.video.name }}" title="{{ rec.video.name }}">
                <source src="{{ rec.video.url }}" type="video/mp4">
                <source src="{{ rec.video.url }}" type="video/webm">
                Please update your browser
            </video>
            <p>
                {{ rec.description }}
            </p>
        </div>
    {% empty %}
        <div class="ui warning message">
            <p>S.H.I.T just got real. Nothing to do here</p>
        </div>
    {% endfor %}

    {% if data %}
        <form method="POST" action="">
            {% csrf_token %}
            <div class="ui form">
                <div class="field">
                    <label>Komentārs:</label>
                    <textarea></textarea>
                </div>
                <input type="submit" value="Saglabāt" class="ui green button" />
            </div>
        </form>
    {% endif %}

{% endblock content %}
