{% extends "base.html" %}


{% block content %}

    <h2 class="ui header">Materiālu saraksts</h2>

    {% for rec in data %}
        <h3 class="ui large header">
            <a href="{% url 'show_material' rec.id %}">
                {{ rec.title }}
            </a>
        </h3>

        <div>

            {% if user.is_staff %}
                <ul class="action-menu">
                    <li class="add-action">
                        <a href="{% url 'add_material' rec.id %}" alt="Pievienot materiālu '{{ rec.title }}'" title="Pievienot materiālu '{{ rec.title }}'">
                            <i class="add icon"></i>
                        </a>
                    </li>

                    <li class="edit-action">
                        <a href="{% url 'edit_tut' rec.id %}" alt="Labot '{{ rec.title }}'" title="Labot '{{ rec.title }}'">
                            <i class="edit icon"></i>
                        </a>
                    </li>

                    <li class="delete-action">
                        {% include "course/delete_tut.html" %}
                    </li>
                </ul>
            {% endif %}

            <div>
                <em>{{ rating }}/5</em>
                <div class="star">
                    {% for i in '12345'|make_list %}
                        <a href="{% url 'rate_tut' rec.id i %}">{{ i }}</a>
                    {% endfor %}
                </div>

                <div class="meta-description">
                    {{ rec.description }}
                </div>

                <span>{{ rec.created_at|date:"Y.m.d H:i:s" }}</span>
            </div>

        </div>
    {% empty %}
        <div class="ui warning message">
            <p>Pagaidām nekas vēl nav pievienots</p>
        </div>
    {% endfor %}

{% endblock content %}
