{% extends "base.html" %}


{% block content %}

    <h2>Materiālu saraksts</h2>

    {% for rec in data %}
        <h3 class="">
            <a href="{% url 'show_material' rec.id %}">
                {{ rec.title }}
            </a>
        </h3>

        <div>

            {% if user.is_staff %}
            <a href="{% url 'add_material' rec.id %}" alt="Pievienot materiālu '{{ rec.title }}'" title="Pievienot materiālu '{{ rec.title }}'">
                <i class="add icon"></i>
            </a>

            <a href="{% url 'edit_tut' rec.id %}" alt="Labot '{{ rec.title }}'" title="Labot '{{ rec.title }}'">
                <i class="edit icon"></i>
            </a>

            <form method="POST" action="{% url 'delete_tut' %}">
                {% csrf_token %}
                <input type="hidden" value="{{ course }}" name="categoryID" />
                <input type="hidden" value="{{ rec.id }}" name="tutID" />
                <input type="submit" value="Dzēst" />
            </form>
            {% endif %}

            <span>{{ rec.created_at|date:"Y.m.d H:i:s" }}</span>

            <em>{{ rating }}/5</em>
            <div class="star">
                {% for i in '12345'|make_list %}
                    <a href="{% url 'rate_tut' rec.id i %}">{{ i }}</a>
                {% endfor %}
            </div>

            <div class="meta-description">
                {{ rec.description }}
            </div>

            <div class="ui clearing divider"></div>
        </div>
    {% empty %}
        <div class="ui warning message">
            <p>Pagaidām nekas vēl nav pievienots</p>
        </div>
    {% endfor %}
{% endblock content %}
