
{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Papillon "Monarch"</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/semantic.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/extra.css" %}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <header>
            <div id="navigatorStatus"></div>
        </header>

        <nav>
            <div class="ui purple menu">
                <a href="/" class="active item">
                    <i class="home icon"></i>Sākums
                </a>
                <a href="{% url 'poll_list' %}" class="item">
                    Aptauja
                </a>
                <a href="{% url 'article_base' %}" class="item">
                    Raksti
                </a>
                {% if user.is_admin %}
                <a href="{% url 'category_list' %}" class="item">
                    Kategorijas
                </a>
                {% endif %}
                <div class="right menu">
                    {% if user.is_authenticated %}
                        <a href="{% url 'user_profile' %}" class="item">
                            <i class="user icon"></i>{{ user.get_full_name }}
                        </a>
                        <a href="{% url 'user_logout' %}" class="item">
                            Iziet
                        </a>
                    {% else %}
                        <a href="{% url 'user_registration' %}" class="item">
                            Reģistrēties
                        </a>
                        <a href="{% url 'user_login' %}" class="item">
                            Ieiet
                        </a>
                    {% endif %}
                </div>
            </div>
        </nav>

        <div id="container" ng-app="papillon-app">
            {% block content %}

            {% endblock content %}
        </div>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
        <script type="text/javascript" src="{% static "javascript/jquery.min.js" %}"></script>
        <script type="text/javascript" src="{% static "javascript/semantic.js" %}"></script>
        <script type="text/javascript" src="{% static "javascript/interactive.js" %}"></script>

        {% block extra_scripts %}

        {% endblock extra_scripts %}

    </body>
</html>
